*{
    box-sizing: border-box;
}

.container{
    border: 4px solid black;
    padding:24px 24px 0 24px;
    display: flex;
    justify-content: center;

}
.row
{
    width: 100%;
    max-width: 600px;
}
.title
{
    background-color: aquamarine;
    width: 100%;
    height: 36px;
    border: 4px solid black;
    margin-bottom: 24px;
}
.box--wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.box{
    background-color: aqua;
    height: 100px;
    width: 30%;
    border: 4px solid black;
    margin-bottom: 24px;
}